/* https://colorswall.com/images/palettes/security-app-design-dark-theme-green-hex-colors-44862-colorswall.png */
/* https://developers.google.com/cars/design/android-auto/design-system/images/elevation-grayscale.png */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  overflow-x: hidden;
  line-height: 1.4;
  /* overflow: hidden; */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  color: rgba(255,255,255,0.75);
}


.App{
  width: 100vw;
}

#search{
  width:100%;
  font-size: 40px;
  display: flex;
  flex-direction: row;
  background-color: #242424;
  border:none;
  padding-top: 10px;
  padding-bottom: 10px;
  align-content: center;
  align-items: center;
}

input[type=text]{
  font-size: 20px;
  height: 100%;
  border:none;
  background-color: #363636;
  width:400px;
  transition: 0.3s;
  font-weight:600;
  border-radius: 5px;
}
input[type=text]:focus{
  outline: none;
  color:black;
  background-color:  rgb(209, 207, 207);
  width: 600px;
  border-radius: 5px 5px 0 0;
}

#search-bar{
  display: flex;
  padding-left: 10px;
  height: 100%;
}

#search-suggestions-container{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index:1;
  top:40px;
  transition: 0.3s;
}
#search-container{
  top:0;
  position: sticky;
  z-index:100;
}
.dropdown-button{
  position: relative;
  font-size:25px;
  width:200px;
  margin:10px;
  text-align: center;
  border-bottom: 1px solid rgb(36, 253, 152);
  margin: 0px 50px 0px 50px ;
}
.dd-container{
  width:100%;
  font-size:20px;
  position: absolute;
  height: auto;
  background-color: #242424;
}
.dd-option{
  z-index: 101;
  text-align: center;
  transition: 0.1s;
}
.dd-option:hover{
  background-color: rgb(36, 253, 152);
  color:#242424;
}
.container-invisible{
  height: 0px !important;
  width: 0px !important;
  opacity: 0;
}

.suggestions{
  width: 600px;
  color:black;
  background-color:   rgb(209, 207, 207);
  margin-left: 10px;
  border-radius: 0 0 10px 10px;
  border: 1px solid gray;
  border-top:none;
  transition: 0.2s;
}

.subreddit-suggestion{
  font-size: 20px;
  font-weight: 600;
  padding:10px;
  color:black;
  display: flex;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transition: 0.08s;
  overflow: hidden;
}

.subreddit-suggestion:hover{
  background-color: #d8d8d8;
  border-radius: 0 0 10px 10px;
}

.sug-icon{
  height: 40px;
  width:40px;
  border-radius: 25px;
}
.sug-display-name{
  color:black;
}
.sug-field{
  padding-left:10px;
  color:black;
}
.sug-members{
  font-size: 15px;
  color:#363636;
}

#content{
  position: relative;
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height:100vh;
}

.ups{
  font-weight:500;
}
.bad{
  color: #cf6679;
}
.good{
  color:rgb(36, 253, 152);
}
.getMore{
  font-size: 30px;
  border: none;
  background-color: aquamarine;
  color:#242424;
  width:100%;
  width:300px;
  min-width: 250px;
  margin:80px;
  height: 80px;
  border-radius: 5px;
  transition: 0.1s;
}
.getMore:hover{
  background-color: rgb(97, 201, 166);
}
.error-fetching{
  font-size: 40px;
  height: 40vh;
  background-color: #cf6679;
  color:#242424;
  padding:100px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  position: relative;
  width:50%;
  top:50%;
  /* transform: translate(0, -50%); */
  border-radius: 5px;
}

.grid{
  width:80%;
  position: relative;
  top:100px;

  /* display: flex; */
  min-width:900px;
  /* overflow-y: scroll; */

}

.toggled-post-container{
  position: sticky;
  bottom:0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.6);
  z-index: 3;
}
.toggled-post{
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;

  position: relative;
  width:50vw;
  width:1000px;
  top:100px;

  min-width:1000px;
  left:50%;
  transform: translate(-50%,0%);
  background-color: #242424;
  max-height:100%;
  overflow: scroll;
  max-height: 90vh;
  
  padding:40px;
  z-index: 4;
  border-radius: 5px;
}

.md{
  padding-bottom: 10px;
}
hr{
  margin: 50px;
  color: #606060;
}


.img-toggled{
  /* max-height: 60%; */
  width:100%;
  padding-left: 100px;
  padding-right: 100px;
}


video{
  width:100%;
}
.rich-video{
  height: 105%;
  width:100%;
  position: absolute;
  top:0px;
  /* opacity: 0.8; */
}
iframe{
  width:100% !important;
  height: 100% !important;
}
.post-link{
  font-size: 15px;
}
.gallery-container{
  max-height:60vh !important;
  /* height: 300px; */
}
.gallery-img{
  /* height: 100%; */
  /* height: fit-content !important; */
  width:auto !important;
  max-height: 60vh;
}
button{
  cursor: pointer;
}